In [11]:
#list
my_list = [x for x in range(1, 11)]
print(my_list)

my_list_range=len(my_list)
for i in range(my_list_range):
  my_list.append(my_list[i]**2)

print(my_list)

totalsum=0
for element in my_list:
  totalsum += element
print("total sum:", totalsum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
total sum: 440

In [16]:
#tuple
even_tuple = tuple(x for x in range(1, 12) if x % 2 == 0)
print(even_tuple)
total_sum=0
for element in even_tuple:
  total_sum += element
print("total sum:", total_sum)

(2, 4, 6, 8, 10)
total sum: 30

In [19]:
#set
set1 = {x for x in range(1, 11) if x % 2 != 0}
set2 = {x for x in range(1, 11) if x % 2 != 0}
print(set1)
print(set2)
union_set = set1.union(set2)
print("Union of the two sets:", union_set)
intersection_set = set1.intersection(set2)
print("Intersection of the two sets:", intersection_set)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
Union of the two sets: {1, 3, 5, 7, 9}
Intersection of the two sets: {1, 3, 5, 7, 9}

In [20]:
#dictionary
lower_alphabet_dictionary = {chr(x): ord(chr(x)) for x in range(ord('a'), ord('e') + 1)}

# Print the dictionary
print("ASCII values:")
print(lower_alphabet_dictionary)

ASCII values:
{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}